TEST/resources/DemoWsdl_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RouteResource"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="RouteResourceDemoOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RouteResourceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="RouteResourceOperationResponse">
		<wsdl:part name="parameters" element="tns:RouteResourceDemoOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="RouteResourcePortType">
		<wsdl:operation name="RouteResourceDemoOperation">
			<wsdl:input message="tns:RouteResourceDemoOperationRequest"></wsdl:input>
			<wsdl:output message="tns:RouteResourceDemoOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:service name="RouteResource">
		<wsdl:port name="RouteResourceDemoPort" binding="tns:RouteResourceDemoBinding">
			<soap:address location="http://localhost:8090/services/RouteResourceDemo" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
</wsdl:definitions>

